@use "./../01-abstracts/" as *;

$offset: calc(420px - 286px);

.footer {
  background-color: $cream;
  height: 420px;
  position: relative;
  z-index: -1;
  display: flex;
  justify-content: center;
  @include breakpoint($md){
    height: 640px;
  }
  @include breakpoint($md-lg){
    height: 464px;
  }
  &-container {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    gap: 33px;
    width: rem(125px);
    padding-top: rem(190px);
    @include breakpoint($md) {
      width: 100%;
      padding-top: rem(536px);
      margin: 0 rem(40px) 72px rem(39px);
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    @include breakpoint($md-lg){
      padding-top: 360px;
    }
    @include breakpoint($lg) {
      max-width: $max-lg;
      margin: 0 auto rem(72px);
    }
  }

  &__logo {
    width: rem(81px);
    height: rem(32px);
    @include breakpoint($md) {
      margin: 0;
    }
  }

  &__copyright {
    color: $grey;
    line-height: rem(32px);
    letter-spacing: rem(0.08px);
    @include breakpoint($md) {
      margin: 0;
    }
  }

  &__socials {
    width: 116px;
    display: flex;
    justify-content: space-between;
    @include breakpoint($md) {
      margin: 0;
      gap: rem(28px);
    }

    &-fb,
    &-tw,
    &-ig {
      cursor: pointer;
    }

    &-fb:hover,
    &-tw:hover,
    &-ig:hover {
      opacity: 0.5;
    }
  }
}
