@use "./../01-abstracts/" as *;

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 1.5rem 1rem;
  @include breakpoint($md) {
    margin: rem(40px) rem(40px) rem(80px) rem(39px);
  }
  @include breakpoint($lg) {
    max-width: rem(1110px);
    margin: rem(50px) auto rem(67px) auto;
  }
  &__logo {
    margin: auto 0;
    & svg {
      width: 83px;
      height: 32px;
      vertical-align: middle;
    }
  }
  &__btn {
    width: rem(182px);
    height: rem(48px);
    font-size: rem(14px);
    padding: rem(12px) rem(15px);
    letter-spacing: rem(-0.14px);
    @include breakpoint($md){
      width: rem(219px);
      height: rem(56px);
      font-size: rem(16px);
      letter-spacing: rem(-0.16px);
    }
  }
}
