@use "./../01-abstracts/" as *;

.showcase {
  margin: rem(58.11px) rem(16px) rem(56px);
  @include breakpoint($md) {
    position: relative;
    margin: rem(40px) rem(40px) rem(92px) rem(39px);
    padding-top: rem(42.68px);
  }

  &__content {
    max-width: 375px;
    margin: 0 auto rem(56px);
    @include breakpoint($md) {
      max-width: none;
      margin: 0 0 rem(88px);
      padding-bottom: rem(40px);
    }
  }

  &__pattern-container {
    display: inline-block;
    position: relative;
  }

  &__pattern {
    position: absolute;
    top: calc(-16.89px - 8.32px);
    right: -2.5px;
    height: 16.89px;
    width: 151.47px;
    @include breakpoint($md) {
      right: -5px;
      top: calc(-29px - 16.32px);
      height: 29px;
      width: 231.19px;
    }
  }

  &__title {
    font-size: rem(38px);
    line-height: rem(44px);
    max-width: 350px;
    margin-bottom: rem(32px);
    padding-top: calc(16.89px + 8.32px);
    @include breakpoint($md) {
      padding-top: calc(29px + 16.32px);
      font-size: rem(56px);
      line-height: rem(64px);
      max-width: 520px;
      margin-bottom: rem(40px);
    }
  }

  &__txt {
    color: $grey;
    font-size: rem(16px);
    line-height: rem(28px);
    max-width: rem(343px);
    margin: rem(32px) 0;
    @include breakpoint($md) {
      margin: rem(40px) 0;
    }
  }

  &__img--mobile {
    margin: rem(56px) auto;
    max-width: rem(375px);
    @include breakpoint($md) {
      display: none;
    }
  }

  &__img--tablet {
    display: none;
    @include breakpoint($md) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      max-width: rem(281px);
    }
  }

  &__info {
    display: flex;
    flex-flow: column nowrap;
    gap: rem(32px);
    margin: rem(56px) 0;
    text-align: center;
    @include breakpoint($md) {
      margin: rem(88px) auto rem(92px);
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &__info-li {
    text-transform: uppercase;
    font-size: rem(16px);
    letter-spacing: 2.5px;
    line-height: rem(26px);
    color: $grey;
    @include breakpoint($md) {
      width: 223px;
    }
  }

  &__info-b {
    display: block;
    color: $black;
    font-size: rem(48px);
    line-height: rem(56px);
  }
}
