@use "./../01-abstracts/" as *;

$img-offset: 181px;

.testimony {
  margin: rem(calc(56px + $img-offset)) auto rem(56px);
  background-color: $black;
  color: $white;
  border-radius: rem(15px);
  text-align: center;
  max-width: 375px;
  max-height: 748px;
  @include breakpoint($md) {
    margin: rem(calc(92px + $img-offset)) auto rem(72px);
    max-width: 689px;
    max-height: 684px;
  }
  @include breakpoint($md-lg) {
    display: flex;
    justify-content: space-evenly;
    max-width: none;
    max-height: 545px;
    margin-left: 39px;
    margin-right: 40px;
  }
  @include breakpoint($lg) {
    justify-content:space-between;
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
  }

  & > * {
    position: relative;
    bottom: rem($img-offset);
    @include breakpoint($md-lg) {
      position: static;
      bottom: auto;
    }
  }

  &__img-container {
    position: relative;
    overflow: hidden;
    @include breakpoint($md-lg) {
      overflow: visible;
    }
    @include breakpoint($lg){
      margin-left: 112px;
    }
  }

  &__img--tablet {
    position: relative;
    max-width: rem(252px);
    margin: 0 auto;
    left: 9.5px;
    z-index: 1;
    @include breakpoint($md-lg) {
      max-width: none;
      width: 275px;
    }
    @include breakpoint($md-lg) {
      display: none;
    }
  }

  &__img--desktop {
    display: none;
    @include breakpoint($md-lg) {
      display: block;
      height: 600px;
      position: relative;
      bottom: 55px;
      z-index: 1;
    }
    @include breakpoint($lg) {
      width: 375px;
    }
  }

  &__pattern-blur {
    display: none;

    @include breakpoint($md) {
      display: block;
      position: absolute;
      bottom: -5rem;
      left: calc(50% - 400px / 2);
      width: 400px;
      z-index: 0;
    }
    @include breakpoint($md-lg) {
      left: calc(50% - 600px / 2);
      width: 600px;
    }
  }

  &__pattern-line {
    width: 49.27px;
    height: 40px;
    margin: rem(37px) auto;
    @include breakpoint($md-lg) {
      width: 64.05px;
      height: 52px;
      margin: 161.15px 0;
    }
  }

  &__txt-container {
    @include breakpoint($md-lg) {
      margin: rem(88px) 0;
      width: 350px;
      text-align: left;
    }
    @include breakpoint($lg){
      margin-right: 125px;
    }
  }

  &__title {
    margin-bottom: rem(40px);
    font-size: rem(40px);
    line-height: rem(48px);
    letter-spacing: rem(-0.42px);
    @include breakpoint($lg) {
      font-size: rem(48px);
      line-height: rem(56px);
      letter-spacing: rem(-0.5px);
    }
  }

  &__txt {
    margin: rem(40px) rem(16px);
    font-size: rem(18px);
    line-height: rem(32px);
    letter-spacing: rem(0.09px);
    @include breakpoint($md) {
      max-width: 573px;
      margin: rem(40px) auto;
    }
    @include breakpoint($lg) {
      font-size: rem(20px);
      line-height: rem(35px);
      letter-spacing: rem(0.1px);
    }
  }

  &__footer {
    margin: rem(40px) 0 rem(64px);
  }
}
