/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Epilogue", sans-serif;
  font-weight: normal;
}

body {
  background-color: #faf8f6;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1 {
  font-size: 4.5rem;
  line-height: 4.875rem;
  letter-spacing: -0.0625rem;
}

h2 {
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: -0.03125rem;
}

h3 {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 2rem;
  letter-spacing: -0.0125rem;
  text-transform: uppercase;
}

h4 {
  font-size: 1rem;
  line-height: 1.625rem;
  letter-spacing: 0.15625rem;
  text-transform: uppercase;
}

blockquote {
  font-size: 1.25rem;
  line-height: 2.1875rem;
  letter-spacing: 0;
}

body {
  font-size: 1.125rem;
  line-height: 2rem;
  letter-spacing: 0;
}

footer {
  font-size: 0.9375rem;
  line-height: 2rem;
  letter-spacing: 0;
}

b {
  font-weight: bold;
}

button {
  font-size: inherit;
  font-family: inherit;
}

.primary-btn {
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  width: 16rem;
  height: 3.8125rem;
  border: none;
  padding: 0.875rem 1.9375rem;
  background-color: #172339;
  color: #faf8f6;
  letter-spacing: -0.01125rem;
}
.primary-btn:hover {
  background: rgb(255, 96, 255);
  background: linear-gradient(170deg, rgb(255, 96, 255) 0%, rgb(203, 48, 227) 50%, rgb(255, 168, 78) 100%);
}

.secondary-btn {
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  border: 1px #172339 solid;
  width: 13.6875rem;
  height: 3.5rem;
  padding: 0.75rem 1.4375rem;
  background-color: transparent;
  font-size: 1rem;
  color: #172339;
  letter-spacing: -0.01rem;
}
.secondary-btn:hover {
  background-color: #172339;
  color: #faf8f6;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 1.5rem 1rem;
}
@media (min-width: 40rem) {
  .header {
    margin: 2.5rem 2.5rem 5rem 2.4375rem;
  }
}
@media (min-width: 75rem) {
  .header {
    max-width: 69.375rem;
    margin: 3.125rem auto 4.1875rem auto;
  }
}
.header__logo {
  margin: auto 0;
}
.header__logo svg {
  width: 83px;
  height: 32px;
  vertical-align: middle;
}
.header__btn {
  width: 11.375rem;
  height: 3rem;
  font-size: 0.875rem;
  padding: 0.75rem 0.9375rem;
  letter-spacing: -0.00875rem;
}
@media (min-width: 40rem) {
  .header__btn {
    width: 13.6875rem;
    height: 3.5rem;
    font-size: 1rem;
    letter-spacing: -0.01rem;
  }
}

.main {
  margin: 3.5rem 0;
}

.showcase {
  margin: 3.631875rem 1rem 3.5rem;
}
@media (min-width: 40rem) {
  .showcase {
    position: relative;
    margin: 2.5rem 2.5rem 5.75rem 2.4375rem;
    padding-top: 2.6675rem;
  }
}
.showcase__content {
  max-width: 375px;
  margin: 0 auto 3.5rem;
}
@media (min-width: 40rem) {
  .showcase__content {
    max-width: none;
    margin: 0 0 5.5rem;
    padding-bottom: 2.5rem;
  }
}
.showcase__pattern-container {
  display: inline-block;
  position: relative;
}
.showcase__pattern {
  position: absolute;
  top: -25.21px;
  right: -2.5px;
  height: 16.89px;
  width: 151.47px;
}
@media (min-width: 40rem) {
  .showcase__pattern {
    right: -5px;
    top: -45.32px;
    height: 29px;
    width: 231.19px;
  }
}
.showcase__title {
  font-size: 2.375rem;
  line-height: 2.75rem;
  max-width: 350px;
  margin-bottom: 2rem;
  padding-top: 25.21px;
}
@media (min-width: 40rem) {
  .showcase__title {
    padding-top: 45.32px;
    font-size: 3.5rem;
    line-height: 4rem;
    max-width: 520px;
    margin-bottom: 2.5rem;
  }
}
.showcase__txt {
  color: #49366d;
  font-size: 1rem;
  line-height: 1.75rem;
  max-width: 21.4375rem;
  margin: 2rem 0;
}
@media (min-width: 40rem) {
  .showcase__txt {
    margin: 2.5rem 0;
  }
}
.showcase__img--mobile {
  margin: 3.5rem auto;
  max-width: 23.4375rem;
}
@media (min-width: 40rem) {
  .showcase__img--mobile {
    display: none;
  }
}
.showcase__img--tablet {
  display: none;
}
@media (min-width: 40rem) {
  .showcase__img--tablet {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    max-width: 17.5625rem;
  }
}
.showcase__info {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  margin: 3.5rem 0;
  text-align: center;
}
@media (min-width: 40rem) {
  .showcase__info {
    margin: 5.5rem auto 5.75rem;
    flex-direction: row;
    justify-content: space-around;
  }
}
.showcase__info-li {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2.5px;
  line-height: 1.625rem;
  color: #49366d;
}
@media (min-width: 40rem) {
  .showcase__info-li {
    width: 223px;
  }
}
.showcase__info-b {
  display: block;
  color: #172339;
  font-size: 3rem;
  line-height: 3.5rem;
}

.testimony {
  margin: 14.8125rem auto 3.5rem;
  background-color: #172339;
  color: #faf8f6;
  border-radius: 0.9375rem;
  text-align: center;
  max-width: 375px;
  max-height: 748px;
}
@media (min-width: 40rem) {
  .testimony {
    margin: 17.0625rem auto 4.5rem;
    max-width: 689px;
    max-height: 684px;
  }
}
.testimony > * {
  position: relative;
  bottom: 11.3125rem;
}
.testimony__img-container {
  position: relative;
  overflow: hidden;
}
.testimony__img {
  position: relative;
  max-width: 15.75rem;
  margin: 0 auto;
  left: 9.5px;
  z-index: 1;
}
.testimony__pattern-blur {
  display: none;
}
@media (min-width: 40rem) {
  .testimony__pattern-blur {
    display: block;
    position: absolute;
    bottom: -5rem;
    left: calc(50% - 200px);
    width: 400px;
    z-index: 0;
  }
}
.testimony__pattern-line {
  width: 49.27px;
  height: 40px;
  margin: 2.3125rem auto;
}
.testimony__title {
  margin-bottom: 2.5rem;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.02625rem;
}
.testimony__txt {
  margin: 2.5rem 1rem;
  font-size: 1.125rem;
  line-height: 2rem;
  letter-spacing: 0.005625rem;
}
@media (min-width: 40rem) {
  .testimony__txt {
    max-width: 573px;
    margin: 2.5rem auto;
  }
}
.testimony__footer {
  margin: 2.5rem 0 4rem;
}

.footer {
  width: 7.8125rem;
  margin: 3.5rem auto 5rem;
}
@media (min-width: 40rem) {
  .footer {
    margin: 4.5rem 2.5rem 4.5rem 2.4375rem;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.footer__logo {
  width: 5.0625rem;
  height: 2rem;
  margin: 2.0625rem auto;
}
@media (min-width: 40rem) {
  .footer__logo {
    margin: 0;
  }
}
.footer__copyright {
  margin: 2.0625rem auto;
  color: #49366d;
  line-height: 2rem;
  letter-spacing: 0.005rem;
}
@media (min-width: 40rem) {
  .footer__copyright {
    margin: 0;
  }
}
.footer__socials {
  margin: 2.0625rem auto;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 40rem) {
  .footer__socials {
    margin: 0;
    gap: 1.75rem;
  }
}
.footer__socials-fb, .footer__socials-tw, .footer__socials-ig {
  cursor: pointer;
}
.footer__socials-fb:hover, .footer__socials-tw:hover, .footer__socials-ig:hover {
  opacity: 0.5;
}

/*# sourceMappingURL=style.css.map */
