@use "./functions" as *;

// Colors
$black: #172339;
$grey: #49366d;
$cream: #f3ede7;
$white: #faf8f6;
$purple: #a060ff;
$magenta: #cb30e3;
$yellow: #ffa84e;

// Font
$font: "Epilogue", sans-serif;

// Breakpoints
$md: rem(640px);
$md-lg: rem(960px);
$lg: rem(1200px);

$max-lg: rem(1110px);
